/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Dec, 2020, 12:44:07 AM
    Author     : ASUS
*/


            .fa-linkedin { 
                color: #FFFFFF;
                font-size: 24px;
            }
            .fa-twitter {
                color: white;
                font-size: 24px;
            }
            .fa-envelope {
                color: white;
                font-size: 24px;
            }
            .fa-github {
                color: white;
                font-size: 24px;
            }  
            .fa-hackerrank {
                color: white;
                font-size: 24px;
            } 
            li{
                padding-right: 5px;
            }