@charset "UTF-8";
.col-md-4 {

}
.header{
   height: 20px; 
   float: right;
}

div.port{
    background-color: black;
}
div.header{
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 2000px;
}

 
div.bkg{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 2000px;
}
div.footer{
    height: 500px;
    width: 200px;
}
div.backlast{
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 800px;
    width: 100%;
}
div.banas-img{
    height: 880px;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    width: 100%;
    padding: 0px 100px 0px 100px;
}
div.block {
  display: block;
  width: 900px;
  height: 300px;
  padding: 5px;
  border: 1px solid white;    
  background-color: transparent; 
}
div.headerabt{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 800px;
    width: 100%;
    padding-top: 100px;
}

